[Desktop Entry]
Type=Application
Name=spotDL.
GenericName=Music Downloader
Comment=Native GNOME app for downloading music from Spotify
Exec=spotdl-gui
Icon=io.github.loafdaddy.SpotdlGnome
Terminal=false
Categories=AudioVideo;Audio;GTK;
Keywords=spotify;music;download;playlist;song;audio;gnome;
StartupNotify=true
